[submodule "deps/ecez"]
	path = deps/ecez
	url = https://github.com/Avokadoen/ecez.git
[submodule "deps/vulkan-zig"]
	path = deps/vulkan-zig
	url = https://github.com/Snektron/vulkan-zig.git
	branch = zig-stage1-compat
[submodule "deps/zigimg"]
	path = deps/zigimg
	url = https://github.com/zigimg/zigimg.git
[submodule "deps/mach-glfw"]
	path = deps/mach-glfw
	url = git@github.com:Avokadoen/mach-glfw.git
